<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
        <property name="connection.username">hire</property>
        <property name="connection.password">1234</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>

        <!-- display sql code -->
        <property name="show_sql">true</property>

        <mapping class="core.model.Character"/>
        <mapping class="core.model.MainCharacter"/>
        <mapping class="core.model.Monster"/>
        <mapping class="core.model.Weapon"/>

    </session-factory>
</hibernate-configuration>